<a href="/decks/new">Create a Deck</a><br /><br />

<table>
  <% @decks.each do |deck| %>
    <tr>
      <td><%= deck.name.capitalize %></td>
      <td><a href="/decks/<%= deck.id %>">Edit</a></td>
      <td><a href="/play/decks/<%= deck.id %>">Play</a></td>
    </tr>
  <% end %>
</table>
