<!DOCTYPE html>
<html>
  <head>
    <style>
      table, th, td {
        border: 1px solid black;
        text-align: center;
      }
    </style>
    <title>flashcards</title>
  </head>
  <body>
    <h1><a href="/">FlashCards Game</a></h1>
    <hr />
    <%= yield %>
  </body>
</html>
