<form action="/decks" method="POST">
  <label for="deck_name">Deck Name</label>
  <input id="deck_name" type="text" name="deck[name]" />
  <div>
    <input type="submit" value="Create a New Deck" />
  </div>
</form>
